.features-container {
  background-color: #121212; /* Dark background */
  margin-bottom: 5rem;
  padding: 2rem; /* Added padding for better spacing */
  color: #bcb3b3; /* Light gray text color */
  font-family: 'Arial', sans-serif; /* Modern, clean font */
  max-width: 990px; /* Set max width */
  margin-left: auto; /* Center container horizontally */
  margin-right: auto; /* Center container horizontally */
}

.features-container h1 {
  color: #1abc9c; /* Teal color */
  text-align: center;
  margin-bottom: 50px;
  display: block;
  width: 100%;
  border-bottom: 2px solid #333; /* Underline */
  line-height: 1.0;
  padding-bottom: 2rem;
  padding-top: 1rem;
  font-size: 2.1rem; /* Larger font size */
  text-transform: uppercase; /* Uppercase text */
}

.features-container h2 {
  color: #61DAFB; /* Light blue color */
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 1.6rem; /* Larger font size */
  transition: color 0.3s ease; /* Smooth color transition */
}

.features-container h2:hover {
  color: #1abc9c; /* Color change on hover */
}

.features-container p {
  text-align: center;
  padding: 0 5%;
  margin-bottom: 1rem;
  line-height: 1.5; /* Improved readability */
  font-size: 1rem; /* Consistent font size */
}

.features-container a {
  text-decoration: none;
  color: inherit; /* Inherit color */
}

.features-container section {
  margin-bottom: 1rem;
  padding: 1rem 2rem; /* Added padding for better spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: transform 0.3s ease; /* Smooth transform transition */
}

.features-container section:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
}

/* Button Styles */
.back-button-r {
  position: absolute;
  top: 15px;
  left: 25px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.back-button:hover {
  color: #1abc9c; /* Color change on hover */
  transform: scale(1.2); /* Slightly enlarge on hover */
}

.back-icon {
  color: #bcb3b3; /* Light gray color */
}

/* For small screens, reduce padding in paragraphs for better space utilization */
@media (max-width: 768px) {
  .features-container p {
    padding: 0 5%;
    padding-bottom: 70px;
  }
}
