.password-reset-heading {
    text-align: center; /* Example to center the text */
}

.reset-instructions {
    margin-top: -10px; /* Adjust spacing as needed */
    color: #666; /* Subtle text color for instructions */
    font-size: 0.9rem; /* Slightly smaller font size than the default paragraph text */
}
