/* App.css */

body {
  background-color:#121212; 
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.routes-content {
  flex: 1;
  overflow-y: auto; 
  padding-bottom: 10px;
  padding-top: 10px;
}
