.inherit-color-bold-text {
    color: white;
    font-weight: bold;
    border: none;
    background-color: transparent;
    justify-content: center;
    padding: 8px 12px; /* Adjust padding as needed to align */
    line-height: 1; /* Adjust line height to better fit your design */
    display: inline-flex; /* Use inline-flex to center text and icons inside the button */
    align-items: center; /* Centers items vertically inside the button */
}

/* Styles for the dropdown container */
.dropdown {
    position: relative; /* Needed for absolute positioning of the dropdown menu */
}

/* Showing and hiding the dropdown menu */
.dropdown-menu {
    display: none; /* Hide by default */
    position: absolute; /* Positioning the menu */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Ensure it's above other content */
    width: 100%; /* Optional: Match the width to the dropdown button */
    /* box-shadow: 0 8px 16px rgba(0,0,0,0.2); */
    background-color: #000; /* Light grey background */
}

.dropdown.show .dropdown-menu {
    display: block; /* Show the menu when 'show' class is added */
}

.react-icon {
    color: #61DAFB;
    font-size: larger;
}

.django-icon {
    color: #59ca28;
    font-size: larger;
}


/* Styles for individual dropdown items */
.dropdown-item {
    color: rgb(255, 255, 255);
    padding: 10px 35px;
    text-decoration: none;
    display: flex; /* Ensure links take up the full width of the menu */
    text-align: center;
    align-items: center;
}

.dropdown-item svg {
    margin-right: 8px;
    width: 24px;
    height: auto;
}

.dropdown-item:hover {
    background-color: inherit;
    text-decoration: underline;
    color:  rgb(255, 255, 255);
}
