/* Footer.css */
/* Footer.css */
.footer-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background-color: #212529; /* or any color that fits your design */
  color: white;
  text-align: center;
  padding: 0px 0;
  z-index: 100; /* Ensure it's above other content */
}


.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #333;
  padding: 50px 0; /* Adds padding around the links for spacing from the border and content above */
}

.github-link, .linkedin-link, .api-link {
  color: rgb(138, 159, 138);
  display: inline-flex;
  align-items: center;
  margin: 0 10px; /* Uniform margin for all links */
  text-decoration: none;
}

.github-link:hover, .linkedin-link:hover, .api-link:hover { /* Added .api-link:hover for consistency */
  color: rgb(35, 116, 66); /* Hover color for all links */
  text-decoration: underline;
}
