
/* Home.css */

/* Add this style to space out the header content */
.cover-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 80rem;
    margin-bottom: 10rem;
  }
  
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%; 
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 576px) {
    .header-container {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    
    .nav {
      margin-top: 1rem; /* Add margin to separate navigation links */
    }
  }

  .main-container {
    flex-grow: 1; /* Expand to fill available space */
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center; /* Center content horizontally */
    max-width: 800px;
    margin: 0 auto;
    padding-top: 4rem;

    
    /* Media query for medium screens */
    @media (max-width: 992px) and (min-width: 576px) {
      padding-top: 3.5rem;
    }
  
    /* Media query for small screens */
    @media (max-width: 576px) {
      padding-top: 2rem; /* Adjusted margin-top for small screens */
    }
  
  }

  .intro-container {
    background-color: #2c3e50; 
    color: white; 
    padding: 1rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 800px;
    margin: 0rem auto; 
    text-align: center;
  }

  .intro-container h4 {
    color: #18bc9c; /* Sets the text color */
  }
  .intro-container p {
    color: white; /* Sets the text color */
  }
  
  .footer-container {
    margin-top: auto;
    text-align: center;
    margin-bottom: 20rem;
  }
  

.white-text {
    color: white; /* Set the text color to white */
  }
  

  .btn-custom-color {
    background-color: #14a365; /* Dark green background */
    border-color: #2ecc71;; /* Dark green border */
    color: #ffffff; /* White text color for contrast */
  }
  
  .btn-custom-color:hover {
    background-color: #2ecc71;; /* Slightly darker green on hover for a visual effect */
    border-color: #908585;
    color: #fff;
  }
  
  .message {
    color: white;
    padding-top: 1rem;
  }

  .api-link {
    /* text-decoration: none; */
    color: rgb(138, 159, 138); /* or any color you prefer */
  }
  
  .api-link:hover {
    color: rgb(35, 116, 66) ; /* Change to the color you want on hover */
    text-decoration: underline; /* Example effect: underline on hover */
  }