
/* Home.css */

/* Add this style to space out the header content */
.cover-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 80rem;
  }
  
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%; /* Adjust the padding as needed */
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 576px) {
    .header-container {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    
    .nav {
      margin-top: 1rem; /* Add margin to separate navigation links */
      align-items: center;
    }
  }

  .main-container {
    flex-grow: 1; /* Expand to fill available space */
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center; /* Center content horizontally */
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 6rem;
    
    h1.white-text {
      margin-bottom: 25px;
    }

    
    /* Media query for medium screens */
    @media (max-width: 992px) and (min-width: 576px) {
      padding-top: 3.5rem;
    }
  
    /* Media query for small screens */
    @media (max-width: 576px) {
      padding-top: 2rem; /* Adjusted margin-top for small screens */
    }
  
  }
/*   
  .footer-container {
    margin-top: auto;
    text-align:center;
    margin-bottom: 4rem;
  }
   */

.white-text {
    color: white; /* Set the text color to white */
  }
  

  .btn-custom-color {
    background-color: #325142; /* Dark green background */
    border-color: #325142; /* Dark green border */
    color: #ffffff; /* White text color for contrast */
  }
  
  .btn-custom-color:hover {
    background-color: rgb(35, 116, 66); /* Slightly darker green on hover for a visual effect */
    border-color: #61DAFB;
    color: #61DAFB;
  }
  
  .message {
    color: #b96d6d;
    color: white;
    padding-top: 2rem;
    font-family:monospace;
  }

  .api-link {
    /* text-decoration: none; */
    color: rgb(138, 159, 138); 
    text-decoration: none;
  }
  
  .api-link:hover {
    color: rgb(35, 116, 66) ; /* Change to the color you want on hover */
    text-decoration: underline; 
  }

  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .blinking-dot {
    animation: blink 4s linear infinite;
    margin-left: 5px; /* Adjust based on your preference */
    /* color: rgb(35, 116, 66); */
  }
  