

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.login-logo {
  max-width: 110px;
  margin-bottom: 0px;
}

/* login.css */
.login-container {
  max-width: 500px;
  margin: 2rem auto;
  margin-top: 4rem;
  margin-bottom: 12rem; /* Ensure enough space above the footer */
  padding: 2rem;
  background: #1C2833;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container svg {
  transition: color 0.3s ease;
  color:#828a87;
}

.logo-container:hover svg {
  color: #14a365; /* Or any other color you want on hover */
  /* background-color: #1C2833; */
}

.nav-button {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  background: none;
  color: #D3D3D3;
  border: none;
  cursor: pointer;
  z-index: 1000; /* Ensures the button is above other elements */
}

.nav-button:hover {
  color: #A9A9A9; /* Slightly lighter color on hover for visual feedback */
}

.nav-button svg {
  color: inherit; /* This ensures the icon color matches the button's color */
}

.form-signin h1, 
.form-signin h2, 
.form-signin h3, 
.form-signin h4, 
.form-signin h5, 
.form-signin h6 {
  text-align: center;
  color:#BDC3C7;
}

.form-signin {
  padding: 0; /* Remove padding inside the form container if unnecessary */
}

.form-signin > form {
  margin: 0; /* Ensure there's no extra margin affecting inner elements */
}

.form-signin {
  width: 100%; /* Ensures the form takes full width of its parent */
  padding: 0; /* Adjust or remove padding as needed */
}



.login-container input,
.login-container textarea { /* Adjust selector as needed */
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 2px solid #f2eeee;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.login-container textarea {
  height: 200px;
  resize: vertical;
  padding: 10px 18px;
}

.btn-signin { /* Adjust selector if different */
  width: 100%;
  min-height: 3.5rem;
  background-color: #30815e;
  color: white;
  /* padding: 15px 10px; */

  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.btn-signin:hover {
  background-color: #14a365; /* Lighter green on hover */
  color: #fff;
}

.forgot-password-link {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 15px;
}

/* Additional styles for checkbox and its label */
.login-container .form-check {
  margin-bottom: 1rem;
}

.login-container .form-check-input {
  width: auto; /* Reset width for checkbox */
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  cursor: pointer; /* Indicates interactiveness */
}

.login-container .form-check-label {
  cursor: pointer; /* Indicates interactiveness */
  color: #BDC3C7; /* Matches form text color */
}

/* Styling for focus outline on checkbox to match the theme */
.login-container .form-check-input:focus {
  outline: 1px auto #14a365;
}

/* Hover effect for checkbox and label */
.login-container .form-check-label:hover,
.login-container .form-check-input:hover {
  color: #14a365; /* Hover color */
}

.password-toggle-button {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%; /* Center vertically relative to parent */
  transform: translateY(-50%); /* Keep icon centered as it scales */
  color: #666;
  font-size: 24px; /* Base icon size, adjust as needed */
  transition: transform 0.3s ease; /* Smooth transition for transform */
}

.password-toggle-button:hover {
  transform: translateY(-50%) scale(1.2); /* Scale up on hover */
}
