.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%; /* Adjust the padding as needed */
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 576px) {
    .header-container {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    
    .nav {
      margin-top: 1rem; /* Add margin to separate navigation links */
    }
  }
  